In [1]:
import numpy as np
import pandas as pd

In [2]:
##### list comprehension: used to create a new list by applying simple operations to an existing list

In [3]:
# use list comprehension to convert a list of numbers to a list of absolute values of those numbers
nums = [100, -200, -300, 400, 500]
numsabs = [abs(n) for n in nums]
numsabs

[100, 200, 300, 400, 500]

In [4]:
# use list comprehension to get a list of first characters from a list of words
words = ["apple", "banana", "grape", "orange", "pineapple"]
word0 = [w[0] for w in words]
word0

['a', 'b', 'g', 'o', 'p']

In [5]:
# use list comprehension to sum corresponding elements of two lists 
lst1 = [1, 2, 3, 4, 5]
lst2= [10, 20, 30, 40, 50]
lst = [l1+l2 for l1,l2 in zip(lst1, lst2)]
lst

[11, 22, 33, 44, 55]

In [6]:
# use list comprehension to get a list of words <= 5 charaters long from a list of words
words = ["apple", "banana", "grape", "orange", "pineapple"]
wordl5 = [w for w in words if len(w)<=5]
wordl5

['apple', 'grape']

In [7]:
##### lambda functions: used to define and use small anonymous functions inline

In [8]:
# create a lambda function to return True if a number is even, else return False. Then use it with the number 5
(lambda x: x%2==0)(5)

False

In [9]:
##### map functions: used to apply a function to each item in an iterable

In [10]:
# use map and lambda to return a new list with 0 or 1 depending on whether the elements in the exisiting list are >=100 or <100
lst = [100, 50, 75, 200, 25]
newlst = list(map((lambda x: 1 if x<100 else 0), lst))
newlst

[0, 1, 1, 0, 1]

In [11]:
# use map to convert a list of numbers to a list of absolute values of those numbers
nums = [100, -200, -300, 400, 500]
numsabs = list(map(abs, nums))
numsabs

[100, 200, 300, 400, 500]

In [12]:
# use map to lower case items in a list
words = ["APPLE", "Banana", "Grape", "ORANGE", "pineapple"]
wordslow = list(map(str.lower, words))
wordslow

['apple', 'banana', 'grape', 'orange', 'pineapple']

In [13]:
# use map and lamda to sum corresponding elements of two lists 
lst1 = [1, 2, 3, 4, 5]
lst2= [10, 20, 30, 40, 50]
lst = list(map((lambda l1,l2: l1+l2), lst1, lst2))
lst

[11, 22, 33, 44, 55]

In [14]:
##### filter functions: used to apply a function to each item in an iterable, and return only those elements that meet some criteria

In [15]:
# what will this return?
lst = [10, 20, 30, 40, 50]
newlst = list(map((lambda x: x>25), lst))
newlst

[False, False, True, True, True]

In [16]:
# what will this return?
lst = [10, 20, 30, 40, 50]
newlst = list(filter((lambda x: x>25), lst))
newlst

[30, 40, 50]

In [17]:
# use filter and lambda functions to get a list of words <= 5 charaters long from a list of words
words = ["apple", "banana", "grape", "orange", "pineapple"]
wordl5 = list(filter((lambda x: len(x)<=5), words))
wordl5

['apple', 'grape']

In [18]:
# use filter and lambda functions to get even elements from a list of integers
nums = [10, 13, 14, 15, 17, 20]
numseven = list(filter((lambda x: x%2==0), nums))
numseven

[10, 14, 20]