In [3]:
# Reference: 
# online free docs:          https://pandas.pydata.org/pandas-docs/stable/
#                                      https://pandas.pydata.org/pandas-docs/stable/io.html
# book old edition free:  https://www.safaribooksonline.com/library/view/python-data-science/9781491912126/
# book new edition pay: https://smile.amazon.com/Python-Data-Science-Handbook-Essential/dp/1491912057/

In [ ]:
# check out pd.read_ followed by "tab"
# check out df.to_ followed by "tab"
# some additional libraries that might be useful - sqlalchemy, lxml, html5lib, BeautifulSoup4

In [22]:
import numpy as np
import pandas as pd

In [29]:
# text
df = pd.read_csv('sample.txt',sep='|') # can set index_col=0 if want first column in file to be the index
df

    name  age gender
0    amy   10      f
1    bob   12      m
2  cathy   14      f
3   dave   11      m
4  ethan   13      m
5  fiona   10      f

In [30]:
df.to_csv('sample_new.txt', sep='|', index=False)

In [31]:
# csv
df = pd.read_csv('sample.csv') # can set index_col=0 if want first column in file to be the index
df

    name  age gender
0    amy   10      f
1    bob   12      m
2  cathy   14      f
3   dave   11      m
4  ethan   13      m
5  fiona   10      f

In [32]:
df.to_csv('sample_new.csv', index=False) # set index=False since we don't want index written out to file

In [33]:
# excel - only data not formulas macros etc
df = pd.read_excel('sample.xlsx',sheet_name='profile')
df

    name  age gender
0    amy   10      f
1    bob   12      m
2  cathy   14      f
3   dave   11      m
4  ethan   13      m
5  fiona   10      f

In [34]:
df.to_excel('sample_new.xlsx', sheet_name='profile', index=False) # set index=False since we don't want index written out to file